.home {
    display: flex;
    flex-direction: column;
}

.home button {
    margin: auto;
    border: none;
    padding: 18px;
    font-size: 20px;
    font-weight: bold;
    background-color: lightblue;
    box-shadow: 3px 3px 8px black;
    border-radius: 15px;
}
